In [1]:
data_nilai_mahasiswa = [
    [214180321, 100, 35, 80, 90, 80],
    [214180322, 70, 65, 70, 80, 75],
    [214180323, 64, 63, 42, 35, 70],
    [214180324, 80, 75, 60, 70, 65],
    [214180325, 90, 84, 78, 69, 85]
]

In [2]:
def hitung_nilai_akhir(data_nilai_mahasiswa):
    hasil_output = []

    for data_mhs in data_nilai_mahasiswa:
        ID, nilai_harian_1, nilai_harian_2, nilai_harian_3, nilai_UTS, nilai_UAS = data_mhs
        nilai_akhir = 0.3 * ((nilai_harian_1 + nilai_harian_2 + nilai_harian_3) / 3) + 0.3 * nilai_UTS + 0.4 * nilai_UAS

        if nilai_akhir >= 80:
            grade = "A"
        elif 75 <= nilai_akhir < 80:
            grade = "B+"
        elif 70 <= nilai_akhir < 75:
            grade = "B"
        elif 65 <= nilai_akhir < 70:
            grade = "C+"
        elif 60 <= nilai_akhir < 65:
            grade = "C"
        elif 55 <= nilai_akhir < 60:
            grade = "D"
        else:
            grade = "E"

        result = f"Mahasiswa dengan ID = {ID} mendapat nilai mata kuliah dengan grade {grade} dengan nilai akhir = {nilai_akhir}"
        hasil_output.append(result)

    return hasil_output

In [3]:
hasil_output = hitung_nilai_akhir(data_nilai_mahasiswa)

for result in hasil_output:
    print(result)

Mahasiswa dengan ID = 214180321 mendapat nilai mata kuliah dengan grade A dengan nilai akhir = 80.5
Mahasiswa dengan ID = 214180322 mendapat nilai mata kuliah dengan grade B dengan nilai akhir = 74.5
Mahasiswa dengan ID = 214180323 mendapat nilai mata kuliah dengan grade D dengan nilai akhir = 55.4
Mahasiswa dengan ID = 214180324 mendapat nilai mata kuliah dengan grade C+ dengan nilai akhir = 68.5
Mahasiswa dengan ID = 214180325 mendapat nilai mata kuliah dengan grade B+ dengan nilai akhir = 79.9

In [4]:
print(hasil_output[0])

Mahasiswa dengan ID = 214180321 mendapat nilai mata kuliah dengan grade A dengan nilai akhir = 80.5

In [5]:
print(hasil_output[1])

Mahasiswa dengan ID = 214180322 mendapat nilai mata kuliah dengan grade B dengan nilai akhir = 74.5

In [8]:
print(hasil_output[2])

Mahasiswa dengan ID = 214180323 mendapat nilai mata kuliah dengan grade D dengan nilai akhir = 55.4

In [6]:
print(hasil_output[3])

Mahasiswa dengan ID = 214180324 mendapat nilai mata kuliah dengan grade C+ dengan nilai akhir = 68.5

In [7]:
print(hasil_output[4])

Mahasiswa dengan ID = 214180325 mendapat nilai mata kuliah dengan grade B+ dengan nilai akhir = 79.9